*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  max-inline-size: 1140px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 7.5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__textfield {
  border-inline-start: 1px transparent;
  border-inline-end: 1px transparent;
  border-block-start: 1px solid rgb(255, 255, 255);
  border-block-end: 1px solid rgb(255, 255, 255);
  padding-block-start: 3px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: rgb(27, 25, 25);
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border-inline-start: 1px solid rgb(255, 255, 255);
  border-inline-end: 1px solid rgb(255, 255, 255);;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-inline-end: 5px;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: rgb(255, 255, 255);
  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid rgb(255, 255, 255);
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  background-color: rgb(27, 25, 25);
  cursor: pointer;
  block-size: 34px;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__submit-button {
  margin-block-start: 20px;
  inline-size: 194px;
}

.content__title {
  margin-block-end: 24px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  block-size: 300px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  margin-block: 1px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.content__card-link:active {
  background-color: rgb(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
}

.content__card-link_current {
  display: block;
  background-color: rgb(84, 80, 80);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  inline-size: 200px;
}

.content__video-card-title {
  padding: 4px 0;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-size: 18px;
  line-height: 90%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  inline-size: 194px;
}

.more-button {
  width: 100%;
}